In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('covid19.csv')

In [4]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,5.075600e+04,53469.000000,52669.000000,4.166700e+04,53469.000000,52669.000000,50483.000000,53405.000000,52604.000000,41409.000000,...,47769.000000,31842.000000,48380.000000,50143.000000,37694.000000,37209.000000,22853.000000,43604.000000,53388.000000,46705.000000
mean,1.493619e+05,1761.487572,1732.743639,6.447778e+03,45.156184,45.137385,2759.791429,33.925591,32.953985,89.419042,...,20702.018949,12.354896,252.260040,8.060757,10.761713,32.642931,52.187253,3.094716,73.961717,0.722943
std,1.499361e+06,16084.465899,15678.575064,5.229041e+04,374.862461,364.309001,5431.255524,119.552191,86.228298,173.933620,...,20344.678674,19.377857,117.426237,4.167827,10.473784,13.446463,31.636330,2.516902,7.392559,0.153174
min,1.000000e+00,-8261.000000,-552.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2212.545000,-269.978000,0.000000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.354000
25%,1.550000e+02,0.000000,0.714000,1.200000e+01,0.000000,0.000000,80.807500,0.000000,0.226000,3.653000,...,5321.444000,0.500000,156.139000,5.310000,1.900000,21.400000,21.222000,1.300000,69.870000,0.601000
50%,1.884500e+03,13.000000,18.143000,7.800000e+01,0.000000,0.286000,528.783000,2.015000,3.640000,19.020000,...,14048.881000,2.000000,238.339000,7.110000,6.400000,31.400000,52.232000,2.500000,75.400000,0.752000
75%,1.913900e+04,212.000000,220.857000,6.570000e+02,3.000000,3.714000,3081.251000,23.635000,26.700750,78.833000,...,31400.840000,18.100000,318.991000,10.390000,19.600000,40.900000,83.741000,4.200000,79.380000,0.847000
max,4.709322e+07,547141.000000,492851.000000,1.207290e+06,10491.000000,7456.857000,63262.797000,8652.658000,2472.188000,1237.551000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.953000

In [5]:
print(df.head(5))

  iso_code      continent location        date  total_cases  new_cases  \
0      ABW  North America    Aruba  2020-03-13          2.0        2.0
1      ABW  North America    Aruba  2020-03-19          NaN        NaN
2      ABW  North America    Aruba  2020-03-20          4.0        2.0
3      ABW  North America    Aruba  2020-03-21          NaN        NaN
4      ABW  North America    Aruba  2020-03-22          NaN        NaN

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         0.0                  NaN  ...
1               0.286           NaN         NaN                  0.0  ...
2               0.286           NaN         0.0                  0.0  ...
3               0.286           NaN         NaN                  0.0  ...
4               0.286           NaN         NaN                  0.0  ...

   gdp_per_capita  extreme_poverty  cardiovasc_death_rate  \
0       35973.781              NaN                    NaN
1       35973.781              NaN                    NaN
2       35973.781              NaN                    NaN
3       35973.781              NaN                    NaN
4       35973.781              NaN                    NaN

   diabetes_prevalence  female_smokers  male_smokers  handwashing_facilities  \
0                11.62             NaN           NaN                     NaN
1                11.62             NaN           NaN                     NaN
2                11.62             NaN           NaN                     NaN
3                11.62             NaN           NaN                     NaN
4                11.62             NaN           NaN                     NaN

   hospital_beds_per_thousand  life_expectancy  human_development_index
0                         NaN            76.29                      NaN
1                         NaN            76.29                      NaN
2                         NaN            76.29                      NaN
3                         NaN            76.29                      NaN
4                         NaN            76.29                      NaN

[5 rows x 49 columns]